[submodule "src/github.com/floreks/kubepi-server"]
	path = src/github.com/floreks/kubepi-server
	url = git@github.com:floreks/kubepi-server.git
[submodule "src/github.com/floreks/kubepi-client"]
	path = src/github.com/floreks/kubepi-client
	url = git@github.com:floreks/kubepi-client.git
[submodule "src/github.com/floreks/dht-client"]
	path = src/github.com/floreks/dht-client
	url = git@github.com:floreks/dht-client.git
[submodule "src/github.com/floreks/dht-server"]
	path = src/github.com/floreks/dht-server
	url = git@github.com:floreks/dht-server.git
[submodule "src/github.com/floreks/led-max7219"]
	path = src/github.com/floreks/led-max7219
	url = git@github.com:floreks/led-max7219.git
[submodule "src/github.com/floreks/breathalyzer"]
	path = src/github.com/floreks/breathalyzer
	url = git@github.com:floreks/breathalyzer.git
