[submodule "src/github.com/floreks/dht-server"]
	path = src/github.com/floreks/dht-server
	url = git@github.com:floreks/dht-server.git
[submodule "src/github.com/floreks/led-max7219"]
	path = src/github.com/floreks/led-max7219
	url = git@github.com:floreks/led-max7219.git
[submodule "src/github.com/floreks/breathalyzer"]
	path = src/github.com/floreks/breathalyzer
	url = git@github.com:floreks/breathalyzer.git
[submodule "src/github.com/floreks/kubepi-monitor"]
	path = src/github.com/floreks/kubepi-monitor
	url = https://github.com/olebedev/go-starter-kit
