[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=etcd.service
After=etcd.service

[Service]
ExecStartPre=-/bin/mkdir -p /opt/kubernetes/bin
ExecStart=/usr/bin/kube-apiserver \
  --etcd-servers=http://127.0.0.1:4001 \
  --service-cluster-ip-range=10.0.0.1/24 \
  --bind-address=0.0.0.0 \
  --insecure-bind-address=0.0.0.0 \
  --admission-control=NamespaceLifecycle,LimitRanger,ResourceQuota,ServiceAccount \
  --service-account-key-file=/home/pirate/kubernetes/apiserver.key \
  --client-ca-file=/home/pirate/kubernetes/ca.crt \
  --tls-cert-file=/home/pirate/kubernetes/apiserver.crt \
  --tls-private-key-file=/home/pirate/kubernetes/apiserver.key \
  --allow-privileged=true
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
